@import "../../styles/common";

.logo {
  padding: 3.2rem 0;

  &__title{
    color: #000000;
    text-decoration: none;
    font-family: Poppins, sans-serif, Arial;
    font-size: 2.4rem;

    strong {
      font-weight: 700;
    }
  }
}