@import "../../styles/common";

footer {
  text-align: center;
  padding: 2.4rem;

  a {
    @extend %regular-roboto;
    font-size: 1.4rem;
    color: get-color($text, 300);
    transition: .5s;

    &:hover {
      font-size: 1.6rem;
      font-weight: 700;
      color: get-color($text, 500)
    }
  }
}