@import "src/common/styles/common";

.select-page-limit {
  font-size: 1.4rem;
  font-weight: 500;

  &__select {
    min-width: 3.6rem;
    min-height: 3.6rem;
    margin-left: .4rem;
    padding: .2rem .4rem;
    font-size: 1.4rem;
    font-weight: 500;
    border: .1rem solid get-color($bg, 300);
    background: inherit;
    border-radius: .4rem;

    &:hover {
      border-color: #1E86FF;
      color: #1E86FF;
    }
  }
}