@import "../../styles/common";

.check-job-type {
  display: flex;
  width: 100%;
  align-items: center;
  font-size: 1.4rem;
  margin-bottom: 3rem;
  color: #334680;
  font-weight: 500;

  &:hover {
    cursor: pointer;
  }

  &__input {
    margin: 0 1rem;
  }
}