@import "../../styles/common";

.job-posting-date {
  color: get-color($text,300);

  &__icon{
    display: inline-block;
    font-size: 1.4rem;
    padding-right: .8rem;
  }

  &__title{
    margin-right: 0.8rem;
  }
}