@import "../../styles/common";

.job-location {
  color: get-color($text, 300);
  text-align: center;

  &__icon{
    display: inline-block;
    font-size: 1.4rem;
    padding-right: .8rem;
  }

  &__title{
    margin-right: 0.8rem;
  }
}